@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

@import url(//db.onlinewebfonts.com/c/30d45238271619dd88774064114b9a05?family=Cosi+Times+Roman);
@font-face {font-family: "Cosi Times Roman"; src: url("//db.onlinewebfonts.com/t/30d45238271619dd88774064114b9a05.eot"); src: url("//db.onlinewebfonts.com/t/30d45238271619dd88774064114b9a05.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/30d45238271619dd88774064114b9a05.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/30d45238271619dd88774064114b9a05.woff") format("woff"), url("//db.onlinewebfonts.com/t/30d45238271619dd88774064114b9a05.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/30d45238271619dd88774064114b9a05.svg#Cosi Times Roman") format("svg"); }


h1{
    //font-family: 'Cormorant Garamond', serif;
    font-family: "Cosi Times Roman";
    text-transform: uppercase;
    font-size: 84px;
    letter-spacing: 2px;
    color: #313131;
}


@media(max-width:900px){
  h1{
    font-size: 50px;
    text-align: center;
  }
  .subtitle{
    text-align: center;
  }
}
*{
    font-family: 'Raleway', sans-serif;
    color: #36413E;
}

.page{
  background-color: #cac4bbc0;
}

.subtitle{
    border-bottom: 1px solid #222222;
}

.subtitle-2 {
    font-family: "Cosi Times Roman";
    padding: 250px 80px 20px 0px;
    text-align: right;
    letter-spacing: 2px;
        i {
        padding-left: 15px;
        color: #BD4F6C;
        font-size: 22px;
        }
        span{
          font-style: italic;
          font-family: "Cosi Times Roman";
          text-transform: uppercase;
        }
}


.col0{
  border-bottom: 1px solid #000;
}
.col1{
  height: 100vh;
  border-bottom: 1px solid #000;
}

.img-1{
  height: 100vh;
  opacity: 0.9;
}



@media (max-width:900px){
    .col1{
        display: none;
    }
}

//main-page

  #book-form{
    padding:20px;
  }

  @media(min-width:900px){
    #book-form{
      padding:20px 100px;
    }
  }

  .collection{
    font-size: 44px;
    margin-top: 60px;
  }

  table{
   text-align: center;
   border: 2px solid #222222;
  }

  thead{
    background-color: #222222;
  }

  tr{
    border: 2px solid #6b6b6b;
  }


  th {
    color: #b4b4b4;   
    letter-spacing: 3px;
    border-left: 1px solid  #f0f0f0;
    font-size: 20px;
    cursor: pointer;
    
    i{
      color: #b4b4b4;   
      transition: ease-in 0.5s;
      &:hover{
        cursor: pointer;
        color: #ffffff;
      }
    }
  }

  .search{
    border-top: 1px solid #222222;
    font-style: italic;
    padding: 30px;
  }


  .title-data {
    text-align: left;
  }

  .bars{
    &:hover{
      cursor: pointer;
    }
  }
  .add {
      width:200px;
      letter-spacing: 4px;
      color: #000;
      font-family: "Cosi Times Roman";
      background-color: #6883ba65;
      transition: ease-in 0.1s;
      margin-bottom: 20px;

      &:hover{
          color:rgb(46, 46, 46);
      }
  }

  .add-genre{
    width:100%;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Cosi Times Roman";
    background-color: #f0f0f0;
  }

  .category-counter{
    font-size: 20px;
  }
  


//footer style

.footer {
    margin-top:50px;
    background-color: #222222;
    padding: 50px 15%;
    color: #f0f0f0;

    
      .emp p{
        font-family: "Cosi Times Roman";
        font-size: 34px;
        padding: 35px 0px;
        border-bottom:1px solid #f0f0f0;
        letter-spacing: 5px;
        font-weight: lighter;
      }

      .name, .web p{
        text-align: right;
      }

      .name{
        padding: 35px 0px 0px 0px;
        font-size:22px;
      }

      .web {
        padding: 0px 0px 35px 0px;
        border-bottom:1px solid #f0f0f0;
      }
    

    p{
    letter-spacing: 4px;
    color: #f0f0f0;
    }
  }
